<div class="blog text-center">
  <div class="row">
    <div class="col-sm-12 text-center">
	<div class="thumbnail">
<h1>Blogs, ramblings, and other things</h1>
<p>The Slick Writing Corner.</p>
	</div>
    </div>

<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnotes%2Ftabi-slick%2Fthe-slick-writing-corner-jason-bourne%2F1853953738166293&width=500" width="500" height="632" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

<br>

<blockquote class="twitter-tweet tw-align-center " data-lang="en"><p lang="en" dir="ltr">Guess what this has to do with the future of Izara and Kain? <a href="https://t.co/e8EgxJhgZ3">https://t.co/e8EgxJhgZ3</a> <a href="https://twitter.com/hashtag/SupportIA?src=hash">#SupportIA</a> <a href="https://twitter.com/hashtag/indiebooksblast?src=hash">#indiebooksblast</a> <a href="https://t.co/us8MFvbNGH">pic.twitter.com/us8MFvbNGH</a></p>&mdash; Tabi Slick (@tabislick) <a href="https://twitter.com/tabislick/status/758339127968354304">July 27, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<br>

<div class="col-sm-12 text-center">
<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnotes%2Ftabi-slick%2Fthe-slick-writing-corner-jury-day-its-the-best-day%2F1852179288343738&width=500" width="500" height="604" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowTransparency="true"></iframe>

<br>

<iframe src="https://www.facebook.com/plugins/post.php?href=http%3A%2F%2Fwww.facebook.com%2Fnotes%2Ftabi-slick%2Fthe-slick-writing-corner-why-lost-girl-worked-didnt%2F1851428298418837&width=500" width="500" height="604" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowTransparency="true" a href="http://www.tabislick.com/20160724"></iframe>
</div>
   </div>
</div>
<br><br><br><br><br><br><br><br>
