// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
	margin: 0;
	padding: 0;
	height:100%;
}

body {
	padding: 0;
	background-image: url(image-path('forest.jpg'));
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body.home {
	padding: 0;
	background-image: url(image-path('forest.jpg'));
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body.home h3 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
.row.content {height: 450px}
    

    
@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

.jumbotron h1 {

	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 50px;
	line-height: 70px;

}

.jumbotron p {
	font-family: 'Averia Sans Libre', cursive;
	font-size: 50px;
	line-height: 70px;
}

.img-fluid {
	max-width: 100%;
	height: auto;
	display:block; 
}

.blog h1 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.blog p {
	font-family: 'Averia Sans Libre', cursive;
}

.books h1 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.books h3 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.books h4 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: bold;
}

p {
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	font-size: 15px;
	line-height: 25px;
}

.thumbnail {
	background-color: #f2f2f2;
	text-align: center;
}

