<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <title>Tabi Slick</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre:300i" rel="stylesheet"> 

  <style>
  footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000000;
  background-attachment: scroll;
  background-position: 0% 0%;
  text-align: center;
  color: #ffffff;
}
  </style>

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=41952324249";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>                       
      </button>
      <a class="navbar-brand" href="home">TABI SLICK</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="home">HOME</a></li>
        <li><a href="about">ABOUT</a></li>
        <li><a href="books">BOOKS</a></li>
        <li><a href="blog">BLOG</a></li>
	<li><a href="reviewpolicy">REVIEW POLICY</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="content" class='container-fluid'>
<%= yield %>

<br>
</div>

<footer>
<div id="footer">
<p class='text-center'>
<a aria-label="Fork me on GitHub" data-style="mega" href="https://github.com/SlickRailsDevelopment/slickauthor" class="github-button">Fork me on Github</a><script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script><br>
Developed by <a target="_blank" href="http://www.slickrails.com">SlickRails</a>
</p>
</div>
</footer>

<script>
	$(document).ready(function(){
	// Initialize Tooltip
	$('[data-toggle="tooltip"]').tooltip();
})
</script>
</body>
</html>
